html, body{
  height: 100%;
  margin: 0;
}

#app{
    height: 100%;
    color: #E688FA;
    font-family: sans-serif;
    margin-left: .5em;
    margin-right: 0.5em;
}

button{
  border: solid;
  background-color: white;
  padding: 0.5em;
}

#messagewindow{
  height: 80%;
}
.messages{
  font-size: 1.5em;
  height: 80%;
  max-width: 50em;
  width: 100%;
}

.messagefeed{
  background-color: #FFFFFF;
  height: 90%;
  overflow: scroll;
}

.messagebox{
  width: 100%;
}

.messagebox p{
  padding: 1em;
  margin: .1em;
  border-width: thin;
  border-style: solid;
}

.messageSender{
  float:right;
  margin-left: 5%;
}
.messageRecipient{
  float:left;
  margin-left: 5%;
  margin-right: -5%;
  color: #111111;
}

.messagerecipientfield{
  font-size: 0.5em;
}

.messagedatefield{
  font-size: 10px;
  width: 2em;
}

.messageinput{
  height: 10%;
  padding: 10px;
}

.messageinput input{
  width: 80%;
  font-size: 2em;
}

.alterselection{
  height: auto;
  width: 100%;
  padding: 1em;
}

.alterselection button{
  height: 4em;
  width: 10em;
}

.alteractiveselect{
  background-color:  #E688FA;
}

#preferenceswindow div{
  padding: 1em;
  margin: 1em;
}
